/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    outline: none;
}a

*:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}

.bg-dark {
    background: #333;
    padding-top: 65px;
}

.navbar-brand {
    height: 0;
    padding: 0;
}

.d-inline {
    display: inline-block;
}

.float-right {
    float: right;
}

.pt-3 {
    padding-top: 15px;
}

.pb-3 {
    padding-bottom: 15px;
}

.mt-3 {
    margin-top: 15px;
}

.mb-3 {
    margin-bottom: 15px;
}

.in-group {
    float: left;
    width: 100%;
}

.in-group input {
    width: calc(100% - 49px);
    background: #fff;
    border: none;
    border-radius: 4px;
    padding: 7px;
}

#followUpDate {
    background: #fff;
    border: none;
    border-radius: 4px;
    padding: 7px;
    width: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

.call-bar small {
    color: #43ffff;
}

.call-bar button.call-btn {
    color: #43ffff;
    border: 1px solid;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.call-bar button.call-btn:hover {
    color: #00ffff;
    background: rgba(67, 255, 255, 0.3);
}

.call-bar .room-id-div {
    color: rgb(235, 235, 235);
    font-weight: 400;
    min-width: 60px;
    font-size: 12px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #f1418a;
    padding: 10.3px 15px;
    position: relative;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.call-bar .room-id-div small {
    position: absolute;
    background: #000;
    border-radius: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 10px;
    top: -10px;
    right: 4px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

#videoContainer {
    position: relative;
    height: calc(100vh - 148px);
    margin-bottom: 15px;
    text-align: center;
    /* background-color: #333; */
    /* Internet Explorer 10 */
    display: -ms-flexbox;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari, Opera, and Chrome */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */
    display: box;
    box-pack: center;
    box-align: center;
    overflow: hidden;
}

video {
    width: 100%;
    height: calc(100vh - 148px);
    -o-object-fit: cover;
       object-fit: cover;
}

.bottom-call-bar {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    z-index: 9;
}

.bottom-call-bar button {
    display: none;
    border-radius: 50% !important;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 0 10px rgb(100, 100, 100);
            box-shadow: 0 0 10px rgb(100, 100, 100);
}

.bottom-call-bar button:focus {
    border: none !important;
    background-color: #464646 !important;
    -webkit-box-shadow: 0 0 10px rgb(100, 100, 100) !important;
            box-shadow: 0 0 10px rgb(100, 100, 100) !important;
}

#unmute-btn {
    display: none;
}

#chatBox {
    height: calc(100vh - 479px);
    border-radius: 5px;
    padding: 5px 15px 15px;
    overflow-y: auto;
    background: url(../img/pattern_bg.jpg);
    background-size: 70%;
    position: relative;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

#chatBoxResponsive {
    height: calc(100vh - 100px);
    border-radius: 5px;
    padding: 15px;
    overflow-y: auto;
    background-image: url(../img/pattern_bg.jpg);
    background-size: 70%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.single-chat-div {
    position: relative;
    z-index: 999;
}

#sendMessageBtn,
#leave-btn,
#mute-btn {
    color: #fff !important;
}

#leave-btn:disabled,
#mute-btn:disabled {
    color: #666 !important;
}

#sendMessageBtn {
    padding: 7px;
    border-radius: 4px;
    border: none;
    background: #00b0e4;
}

#sendMessageBtn:disabled {
    background-color: #ccc;
    border: none;
}

.chat-box-holder div textarea:disabled {
    background-color: #fff;
}

.received-msg-para {
    background: rgb(194, 252, 213);
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    max-width: 80%;
    word-wrap: break-word;
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
}

.sent-msg-para {
    background: rgb(178, 233, 255);
    border-radius: 10px;
    padding: 5px;
    font-size: 12px;
    max-width: 80%;
    word-wrap: break-word;
    -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

#userConnectedModalBtn {
    background: #fff;
    border-radius: 25px;
    color: #888;
    padding: 9px 12px;
}

#userConnectedModalBtn span {
    padding: 0 10px;
}

#userConnectedModalBtn .fas {
    font-size: 13px;
}

.chat-box-responsive {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    display: none;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

#chatClose {
    position: absolute;
    left: calc(50% - 18px);
    top: 13px;
    background: #fff !important;
    border: none;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #666;
    height: 36px;
    width: 36px;
    padding: 0;
    z-index: 9999;
}

#historyClose {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.7;
    background: #fff !important;
    border: none;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #666;
    height: 36px;
    width: 36px;
    padding: 0;
    z-index: 9999;
    display: none;
}

#userConnectedModalBtn {
    display: none;
}

.media img {
    width: 30px;
}

.call-bar .btn-link {
    font-weight: 400;
    color: #efda9a;
    margin: 0 20px 0 0;
    border-radius: 10px;
    padding: 7.7px 15px;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.call-bar .btn-link:hover {
    color: #fff9ce;
    text-decoration: underline;
}

#widget-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: -9999;
    visibility: hidden;
}

#widget-container button {
    position: absolute;
    right: 16px;
    top: -35px;
    padding-bottom: 3px;
    z-index: 999;
    width: 35px;
    background-color: #fff;
    height: 35px;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#widget-container iframe {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    border: 0px;
    position: absolute;
    left: 50%;
    top: -50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 10px;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.custom-alert-inactive {
    position: absolute;
    bottom: 0;
    width: auto;
    background: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: none;
}

.custom-alert-active {
    position: absolute;
    bottom: 100px;
    width: auto;
    background: #fff;
    padding: 7px 15px;
    border-radius: 4px;
    opacity: 1;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

#duration {
    color: #bbb;
    display: none;
    vertical-align: middle;
    margin-left: 15px;
}

.connection-lost-msg {
    width: 150px;
    height: 150px;
    padding: 35px 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #ddd;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: none;
    z-index: 99999;
    display: inline-block;
    border-radius: 50%;
}

.connection-lost-msg .fa-wave-square {
    font-size: 30px;
}

.local-video video {
    height: 38px;
    width: 66px;
    vertical-align: middle;
}

#chat-btn {
    display: none !important;
}

.chat-box-holder {
    display: block !important;
}

.chat-box-holder div {
    position: relative;
}

.chat-box-holder div label {
    position: absolute;
    top: 4px;
    left: 15px;
    background: #fff;
    border-radius: 4px;
    padding: 0 5px;
}

.chat-box-holder div textarea {
    width: 100%;
    height: 50px;
    border: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 10px 15px 10px;
}

.chat-box-holder div .fa-microphone {
    position: absolute;
    right: 5px;
    top: 20px;
}

.chat-box-holder div .fa-microphone:hover {
    cursor: pointer;
}

#paitentHistory {
    position: fixed;
    z-index: 9999;
    top: 200px;
    width: 300px;
    height: calc(100vh - 200px);
    background: #fdfdfd;
    left: 0;
    padding: 15px;
    overflow-y: auto;
}

#openHistoryBtn {
    display: none;
}

#paitentHistory img {
    border-radius: 50%;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
    .call-bar button {
        font-size: 12px;
        padding: 3px;
    }
    .room-id-div {
        font-size: 10px !important;
        padding: 5px 10px !important;
    }
    .room-id-div small {
        font-size: 7px !important;
    }
    #videoContainer {
        height: calc(100vh - 137px);
    }
    .local-video video {
        height: 80px;
        width: 65px;
        position: absolute;
        top: 57px;
        z-index: 9;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .call-bar .btn-link {
        padding: 4px 10px;
    }
    #duration {
        font-size: 10px;
        margin: 0;
    }
    .call-bar .btn-link {
        margin-right: 10px;
    }
    #chat-btn,
    #historyClose {
        display: inline-block !important;
    }
    .chat-box-holder {
        display: none !important;
    }
    #userConnectedModalBtn {
        padding: 4px 12px;
    }
    #paitentHistory {
        left: -300px;
        top: 59px;
        height: calc(100vh - 59px);
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    #openHistoryBtn {
        display: inline-block;
    }
    #userConnectedModalBtn {
        padding: 4px;
    }
    .chat-box-holder {
        display: none !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    #chat-btn {
        display: inline-block !important;
    }
}